/* common styles */
html
{
    background-color: #ddd;
    height: 100%;
}

body {
    background-color: #fafafa;
    width: 100%;
    min-width: 1000px;
    display: inline-block;
}

h2 {
    margin-bottom: 5px;
}

.content 
{
    min-height: 600px;
    margin: 30px;
    max-width: 1290px;
}

.max-width 
{
    max-width: 1290px;
}

label.checkbox.auth > span {
    color: #666;
    font-size: 14px;
    text-transform: none;
}

.common-table th 
{
    font-weight: bold;
    text-align: right;
}

.common-table > thead > tr > th:first-child, .common-table > tbody > tr > td:first-child, .common-table > tfoot > tr > td:first-child 
{
    text-align: left;
    white-space: nowrap;
}

.no-margin 
{
    margin: 0px !important;
}

.no-padding
{
    padding: 0px !important
}

.inline 
{
    display: inline !important;
}

.vallign-middle 
{
    vertical-align: middle !important;
}

.valign-top
{
    vertical-align: top !important;
}

.valign-bottom 
{
    vertical-align: bottom !important;
}

.bold 
{
    font-weight: bold !important;
}

.shadow {
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5) !important;
    -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5) !important;
    border-radius: 0 !important;
}

.red {
    color: #ED1C24 !important;
}

.red > span {
    color: #ED1C24;
}

.caret.red {
    border-top-color: #ED1C24;
}

.arrow-down 
{
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid black;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

.arrow-down 
{
    margin-top: -6px;
}

.arrow.red {
    border-left: 4px solid #ED1C24;
}

.arrow-down.red
{
    border-top-color: #ED1C24;
}

.red-text > th, .red-text > th 
{
    color: #ED1C24;
}

/* header */
.top-line div {
    display:inline;
    
}

.green-text
{
    color: #6fac1c;
}

.top-line {
    vertical-align: top; 
    padding: 20px 40px 10px 0px;
}

/* navigation */
.navbar-inner 
{
    margin: 0;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=0);
    background-color: #ffffff;
    background-image: none;
    border-radius: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    padding: 0 30px;
}

.navbar .navbar-inner ul.nav 
{
    margin-left: 170px;
    border-left: solid thin #eee;
}

.nav > li {
    text-align:	center;
    vertical-align: middle;
    border-right: solid thin #EEE ;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color:  #EEE;
    color: #333;
}

.navbar .nav > li > a 
{
    font-size: 1.2em;
    font-weight: bold;
    padding: 11px 15px 9px 15px;
    color: #666;
    text-shadow: none;
}

.navbar .nav > li > a:hover {
    color: #999;
    background-color:  #EEE;

}

footer 
{
    margin-top: 40px;
    background-color: #ddd;
    font-size: 12px;
}

.corbis-brands span 
{
    display: block; 
    width: 180px;    
}

.corbis-brands img 
{
    margin: 15px 0;
}

.checkbox 
{
    text-align: left;
}

.form .control-label 
{
    font-weight: normal;
}

.icon-ribbon 
{
    margin: 0;
    position: absolute;
    top: -6px;
    right: -10px;
}

.icon-ribbon-small {
    margin: 5px 0 0 0;
}

/*
.dialogContent 
{
    border-top: 1px solid #DDD; 
    border-bottom: 1px solid #DDD; 
    margin-bottom: 20px;
    padding: 15px 0;
}
*/

a.standard 
{
    color: #666;
}

a.standard:hover
{
    color: #ED1C24;
}

.float-left 
{
    float: left !important;
}

.float-right 
{
    float: right !important;
}

div.opportunityDetails 
{
    font-size: 14px; 
    margin-top: 15px;
}

/* temp */

h1 
{   
    margin-top: -0.1em;
}

ul.dropdown-menu {
    padding: 5px;
    position:absolute;
    right: 0;
}


.dropdown-menu
{
    border: none;
    background-color: transparent;
    z-index: 1006;
    outline: 0px;
    height: auto;
    width: auto;
    top: 0px;
    overflow: visible;
    padding-top: 20px;
}

.dropdown-menu ul 
{
    background: white;
    border: 1px solid rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 10px 20px;   
}

.dropdown-menu ul li 
{
    list-style-type: none;
}

.input-prepend.currency > input {
    padding-left: 20px;
}

.input-append, .input-prepend {
    position: relative;
}

.append {
    position: absolute;
    z-index: 10;
    right: 0px;
    bottom: 2px;
}

.prepend 
{
    z-index: 100;
    position: absolute;
    left: 7px;
    bottom: 0px;
}

.percent > .append 
{
    font-size: 14px;
    right: 5px;
    color: #999;
    bottom: 1px;
}

.percent input
{
    text-align: left;
    padding-right: 20px !important; 
}

.cookie-bar 
{
    z-index: 1000;
    width: 100%;
    padding: 10px 0;
    bottom:0;
    position: fixed;
    background: #ffffcc;
}

.cookie-bar span 
{
    margin: 0 10px;
}

label input[type="checkbox"].readonly ~ span::before
{
    display: none;
}

.icon-logo-corbis-images
{
    background-position: 0 -130px;
    width: 132px;
    height: 40px;
}

.icon-logo-corbis-motion 
{
   background-position: 0 -170px;
   width: 138px;
   height: 40px;
}

.icon-logo-corbis-entertainment 
{
    background-position: 0 -210px;
    width: 212px;
    height: 40px;
}

.icon-logo-veer
{
    background-position: -150px -130px;
    width: 46px;
    height: 40px;
}

.word-wrap 
{
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}

ul.links-bar 
{
    padding: 0;
    margin: 0 0 35px 0;

}
        
ul.links-bar li 
{
    display: inline-block;
    font-weight: bold;
    margin-right: 35px;
}

.pre 
{
    white-space: pre-wrap;
}

.text-overflow {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ui-dialog-title {
    max-width: 95%;
}
.ui-dialog-title > h4{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.addellips {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.mpListGroupTitle 
{
    padding: 20px 20px 10px 20px;
    text-transform: uppercase;
}

table.mediaPlanList 
{
    width: 100%;
    table-layout:fixed;
    overflow: hidden;
    white-space:nowrap;
}

table.mediaPlanList tbody tr:hover, table.mediaPlanList tbody tr:active
{
    background-color: #f8f8f8;
}

table.mediaPlanList tr:hover td a, table.mediaPlanList tr:active td a 
{
    color: #ed1c24;
}

.mediaPlanList th 
{
    border-bottom: solid thin #ddd;
    color: #333;
    font-weight: bold;
    padding: 10px 0 10px 2.13%;
}
    
.mediaPlanList td
{
    text-align: left;
    padding: 10px 0 10px 2.13%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mediaPlanList th:last-child, .mediaPlanList td:last-child  
{
    text-align: right;
    padding: 10px 2.13%;
    text-overflow: clip;
}

.mediaPlanList span.clientName
{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 90px;
}

.mediaPlanList td span.description
{
    display: block;
    margin-top: 2px;
}

.mediaPlanList .editLink 
{
    margin-left: 5px;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;

    /* important! fixes IE */
    display: inline-block;
    overflow: hidden; 
}
    
.mediaPlanList .emptyGroup
{
    padding: 15px 0;
    border-top: solid thin #eee;
    border-bottom: solid thin #eee;
}
.ui-dialog div.ui-dialog-content#mediaViewer 
{
    margin: 0;
    padding: 0;
}


#mediaViewer #noMedia 
{
    height: 270px;
    position: relative;
}

#mediaViewer #noMedia div
{
    text-align: center;
    position: absolute;
    width: 380px;
    height: 36px;
    top: 50%;
    left: 50%;    
    margin: -18px 0 0 -190px;
    color: #999;
    font-size: 14px;
}

#mediaViewer #image {
    text-align: center;
}

#mediaViewer #image img 
{
    height: 270px;
}

#mediaViewer #comment 
{
    font-size: 14px;
    padding: 15px;
    border-bottom: solid 1px #e8e8e8;
}