tbody 
{
    vertical-align: top;
}

.mediaPlanList th, .mediaPlanList td {
    padding: 10px 0 10px 20px !important;
}

.mediaPlanList th:last-child, .mediaPlanList td:last-child {
    padding: 10px 20px !important;
}

 .mediaPlanList th:nth-child(1) {
    width: 40px;
}

.mediaPlanList th:nth-child(3) {
    width: 140px;
}

.mediaPlanList th:nth-child(4) {
    width: 80px;
}

.mediaPlanList th:nth-child(5) {
    width: 100px;
}

.mediaPlanList th:nth-child(6) {
    width: 55px;

}

.mediaPlanList th:nth-child(7) {
    width: 95px;

}

.margin-for-chart-icon {
     margin-right: 35px;
}
.icon-blank {
    width: 26px;
}

.bar-container {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    height: 15px;
}

.icon-bar-graph {
    cursor: pointer;
    margin-left: 5px;
}

.js-placements
{
    display: none;
}

#dlgPlacementClip 
{
    margin: 0;
    padding: 0;
    overflow: visible;
}

.placements img 
{
    width: 80px;
}

.mediaPlanList img 
{
    width: 40px;
}

.placementInfo 
{
    text-transform: uppercase;
    margin-bottom: 15px;
}

.align-right {
    text-align: right !important;
}