<!doctype html>
<html ng-app="benApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="Stylesheet" type="text/css" href="Styles/BaseStyles.css" />
    <link rel="Stylesheet" type="text/css" href="Styles/ben.bootstrap.css" />
    <link rel="Stylesheet" type="text/css" href="Styles/common0.css" />
    <link rel="Stylesheet" type="text/css" href="Styles/report.css" />
    <link rel="Stylesheet" type="text/css" href="Styles/index.css" />
    <link rel="Stylesheet" type="text/css" href="Styles/mediaplan.css" />
    <link rel="Stylesheet" type="text/css" href="Styles/common.css" />

    <script type="text/javascript" src="//use.typekit.net/rdl0xkz.js"></script>
    <script type="text/javascript" src="Scripts/typekit.js"></script>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <!--<link rel="stylesheet" href="styles/main.css">-->
    <!-- endbuild -->
  </head>
  <body>

    <!-- header -->
    <div class="top-line align-right" style="padding-top: 10px;">
      <div class="btn-group pull-right">
                <span ng-if="account">
                    <a href="#/signout" id="profile-menu">{{ account.FirstName }} {{ account.LastName }}<span class="caret red vallign-middle" style="margin-left: 2px;"></span></a>
                </span>
                <span ng-if="!account">
                    Have an account? <a href="#/signin"><b>Sign in</b></a>
                </span>
      </div>
    </div>
    <div style="height: 4px;clear:both;"></div>

    <header ng-if="account">
      <div  class="navbar">
          <div class="navbar-inner">
              <a href="index.html">
                  <img src="Images/logo-main.png" alt="Branded Entertainment Network" class="pull-left"></a>
              <ul class="nav">
                  <li ng-class="{active: section == 'mediaplan'}"><a href="#/mediaplan">MEDIA PLANS</a></li>
                  <li ng-class="{active: section == 'report'}"><a href="#/report">REPORTS</a></li>
              </ul>
          </div>
      </div>
    </header>
    <a href="/" ng-if="!account"><img src="/Images/logo.png" class="logo" style="margin: 20px 0 0 30px;"></a>
    <!-- /header -->

    <!-- Add your site or application content here -->
    <div class="content" ng-view=""></div>

    <!-- footer -->
    <footer>
        <div style="background-color: #eee; padding: 20px 30px;">
            <div class="row-fluid">
                <div class="span3">
                    <strong>BEN</strong><br>
                    <a href="/CustomerService/HowItWorks" class="alternative">How It Works</a>
                </div>
                <div class="span3">
                    <strong>Customer Service</strong><br>
                    <a href="/CustomerService/ContactUs" class="alternative">Contact Us</a><br>
                    <a href="/CustomerService/Help" class="alternative">FAQs</a><br>
                    <a href="/CustomerService/SiteMap" class="alternative">Site Map</a>
                </div>
                <div class="span3">
                    <strong>Our Policies</strong><br>
                    <a href="/CustomerService/Usage" class="alternative">Site Usage Agreement</a><br>
                    <a href="/CustomerService/Privacy" class="alternative">Privacy Policy</a><br>
                    <a href="/CustomerService/Cookie" class="alternative">Cookie Policy</a><br>
                </div>
            </div>
        </div>

        <div style="padding: 20px 30px; border-top: 1px solid rgba(0, 0, 0, .2)">
            <div class="row-fluid">
                <strong class="text-smaller">Corbis sites:</strong>
            </div>
            <div class="row-fluid text-smaller corbis-brands">
                <div class="span3">
                    <a href="http://corbisimages.com/"><i class="icon-logo-corbis-images"></i></a>
                    <br>
                    <span>Exceptional visual images for inspired ideas and stories <a href="http://corbisimages.com/" class="red-text">&gt;</a></span>
                </div>
                <div class="span3">
                    <a href="http://corbismotion.com/"><i class="icon-logo-corbis-motion"></i></a>
                    <br>
                    <span>Creative and editorial motion clips from the world's leading collections and studios <a href="http://corbismotion.com/" class="red-text">&gt;</a></span>
                </div>
                <div class="span3">
                    <a href="http://corbisentertainment.com//"><i class="icon-logo-corbis-entertainment"></i></a>
                    <br>
                    <span>A full service agency for Film/TV product integration, music licensing and talent negotiations <a href="http://corbisentertainment.com//" class="red-text">&gt;</a></span>
                </div>
                <div class="span3">
                    <a href="http://veer.com/"><i class="icon-logo-veer"></i></a>
                    <br>
                    <span>Unique photography, illustrations, and fonts hand-selected by creatives, for creatives <a href="http://veer.com/" class="red-text">&gt;</a></span>
                </div>
            </div>
            <div class="row-fluid" style="margin-top: 40px;">
                <p style="margin-bottom: 5px">Powered by Corbis Entertainment</p>
                <p class="text-smaller alternative">© 2013 by BEN, a <a href="http://corporate.corbis.com/" target="_blank" class="red-text">Corbis Corporation</a> brand. All media © by BEN and/or its media providers. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
    <!-- /footer -->

    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <!-- endbuild -->
</body>
</html>
